/*Body*/
body
{
    font-family: Segoe UI;
    background-color: #FFFFFF;
}

/*Table to center the content*/
.ContainerTable
{
    border: 0px;
    width: 100%;
    height: 100%;
}

/*Table for content*/
.NavigateTable
{
    border: 0px;
    width: 800px;
}
.NavigateTable td
{
    overflow: hidden;
}

.WebSiteID
{
    font-size: 12px;
    text-align: center;
}

/****************************************************/

/*Content header*/
.NavigateHeader
{
    height: 135px;
}

.NavigateLogo.Left
{
    float: left;
    padding-right: 16px;
}

.NavigateLogo.Right
{
    float: left;
}

.NavigateLogo.Clear
{
    clear: both;
}

.LogoLink img
{
    border: 0px;
}

/*Content table*/
.ContentTable
{
    /*font-family: Segoe UI;*/
    font-size: 24px;
    border: 0px;
}

/****************************************************/

/*Navigation bar*/
.MenuButton
{
    display: block;
    width: 130px;
    height: 32px;
    line-height: 32px;
    /*font-family: Segoe UI;*/
    font-size: 16px;
    background-color: #F0F1F4;
    color: #000000;
    text-decoration: none;
    
    border-style: solid;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 3px;
    border-bottom-color: #D8D9DC;
}
.MenuButton:hover.HomeButton
{
    border-bottom-color: #5EA8DE;
}
.MenuButton:hover.GettingStartButton
{
    border-bottom-color: #8DBF35;
}
.MenuButton:hover.DemosButton
{
    border-bottom-color: #F18A2B;
}
.MenuButton:hover.DownloadButton
{
    border-bottom-color: #F7866A;
}
.MenuButton:hover.DocumentButton
{
    border-bottom-color: #ED7099;
}
.MenuButton:hover.ContactButton
{
    border-bottom-color: #7B4F9D;
}
.MenuButton.HomeButtonSelected
{
    background-color: #5EA8DE;
    border-bottom-color: #5EA8DE;
    color: #FFFFFF;
}
.MenuButton.GettingStartButtonSelected
{
    background-color: #8DBF35;
    border-bottom-color: #8DBF35;
    color: #FFFFFF;
}
.MenuButton.DemosButtonSelected
{
    background-color: #F18A2B;
    border-bottom-color: #F18A2B;
    color: #FFFFFF;
}
.MenuButton.DownloadButtonSelected
{
    background-color: #F7866A;
    border-bottom-color: #F7866A;
    color: #FFFFFF;
}
.MenuButton.DocumentButtonSelected
{
    background-color: #ED7099;
    border-bottom-color: #ED7099;
    color: #FFFFFF;
}
.MenuButton.ContactButtonSelected
{
    background-color: #7B4F9D;
    border-bottom-color: #7B4F9D;
    color: #FFFFFF;
}

/****************************************************/

.GuideTable
{
    width: 100%;
    font-size: 12px;
}

.GuideTable tr.GuideTableHeader td
{
    background-color: #5EA8DE;
    color: #FFFFFF;
    padding: 5px;
}

.GuideTable tr.GuideTableSeparator td
{
    background-color: #FFFFFF;
    color: #FFFFFF;
    padding: 5px;
}

.GuideTable tr.GuideTableBody td
{
    border-width: 1px;
    border-top-width: 0px;
    border-style: solid;
    border-color: #5EA8DE;
    padding: 5px;
}

.GuideTable tr.GuideTableBody td strong
{
    color: #0072BC;
}

.GuideTable tr.GuideTableBody td p
{
    color: #404040;
}

.GuideTable tr.GuideTableBody td a.ReadMoreLink
{
    display: block;
    text-align: right;
}
.GuideTable tr.GuideTableBody td a
{
    color: #0072BC;
    text-decoration: none;
}
.GuideTable tr.GuideTableBody td a:hover
{
    text-decoration: underline;
}

.GuideTable tr.GuideTableBody img
{
    border: none;
}

/****************************************************/

.CppCode
{
    background-color: #1b2426;
    padding: 0.7em;
    white-space: pre-wrap;
    max-width: 780px;
    font-family: "CS Kirisame DL Mono", "Consolas", "DejaVu Sans Mono", monospace;
}

.CppCode strong
{
    color: #2536D3;
}

.CppCode .ImportantCppCode
{
    color: #ED1C24;
}

/****************************************************/

.DemoTable
{
    border-bottom-width: 0px;
}

.DemoTable td
{
    border-width: 1px;
    border-style: solid;
    border-color: #F9B074;
}

.DemoTable .DemoLink
{
    display: block;
    width: 260px;
    height: 260px;
    text-decoration: none;
}

.DemoTable .DemoTitle
{
    color: #000000;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    background-color: #FDE4D0;
    padding: 8px;
}

.DemoTable .DemoImage
{
    padding: 2px;
}

.DemoTable .DemoImage img
{
    border-style: none;
}

/*
#5EA8DE
#8DBF35
#B8D544 ?
#D8C967 ?
#F18A2B
#F7866A
#ED7099
#7B4F9D

#F0F1F4
#D8D9DC
*/